* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

main {
    background-color: #a2a5af;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border:#000000 solid 1px;
}
#main{
    display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
    text-align: center;
    padding: 0.4rem 3rem 1rem 3rem;
    margin-bottom: 20px;
    color: #000000;
    font-size: 29px;
    display: flex;
}
#inicial p{
    padding: 0rem 3rem 1rem 3.4rem;

}
#inicial input{
    margin: 0rem 1.5rem;
}
#main label {
    font-weight: bold;
    padding: 1rem 0rem 0rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;

}


input {
    padding: 0.9rem;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
#entradaCep{
    padding-left: 1rem;
    padding-right: 3rem;
    height:70px;
    width: 80%;
   
}
#inicial{
    padding: 0rem 0rem 1rem 0rem;
}
#fundo{
    background-color: #a2a5af;
}